<ion-view view-title="联系我们">
    <ion-content>
        <div><img src="images/contact.jpg" style="width:100%;height:100%;"></div>
        <ion-list>
            <ion-item class="item-icon-left" menu-close style="font-size: 12px;">
                <span class="icon ion-home"></span>公司地址：北京市东城区东四十条甲<br>25号 - 嘉诚有树B座107室
            </ion-item>
            <ion-item class="item-icon-left" menu-close style="font-size: 12px;">
                <span class="icon ion-email"></span>邮政编码：100007
            </ion-item>
            <ion-item class="item-icon-left" menu-close style="font-size: 12px;">
                <span class="icon ion-ios-telephone"></span>联系电话：020-28934253
            </ion-item>
            <ion-item class="item-icon-left" menu-close style="font-size: 12px;">
                <span class="icon ion-ios-printer"></span>传真号码：010-59865901
            </ion-item>
            <ion-item class="item-icon-left" menu-close style="font-size: 12px;">
                <span class="icon ion-android-call"></span>客户服务专线：010-59865900转815<br> 或 400-666-1612
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>