<ion-view view-title="意见反馈">
    <ion-content class="padding">
        <ion-list>
            <label class="item item-input">
                <textarea placeholder = "请输入您的意见。。。" style="height:200px;"></textarea>
            </label>
                <p>联系方式（选填)</p>
                <input type="number" style="width:200px;border: 1px solid #aba" placeholder="请输入您的联系方式">
            <div class="padding">
                <button class="button button-full button-assertive">提交</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>