<ion-view view-title="@小伙伴">
    <ion-content class="padding">
        <div class="text-center">
            <p>扫描二维码快速下载</p>
            <img src="images/erweima.jpg" style="width:50%;height:50%">
        </div>
        <div class="card text-center">
            <p>分享APP给朋友</p>
            <div class="row">
                <div class="col">
                    <i class="icon ion-chatbubbles balanced" style="font-size:30px;"></i>
                    <p>微信好友</p>
                </div>
                <div class="col">
                    <i class="icon ion-social-chrome calm" style="font-size:30px;"></i>
                    <p>朋友圈</p>
                </div>
                <div class="col">
                    <i class="icon ion-chatbox-working energized" style="font-size:30px;"></i>
                    <p>短信</p>
                </div>
                <div class="col">
                    <i class="icon  assertive ion-email" style="font-size:30px;"></i>
                    <p>邮箱</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>