<ion-view view-title="个人中心">
    <ion-nav-buttons side="right">
        <a class="button button-assertive icon ion-android-home" href="#/home"></a>
    </ion-nav-buttons>
    <ion-content>
        <div style="height:200px;background-color: #f6f0e0;text-align: center;padding-top: 20px;">
            <a href="#/tabs/login"><img src="images/touxiang.png"></a><br>
            <p>点击头像登陆</p>
        </div>
        <ion-list class="padding">
            <ion-item class="item-icon-right">
                <a href="#/tabs/quiz1">
                    <img src="images/icon_03.jpg" style="width:8%;height:8%;float: left"><p style="line-height: 30px;padding-left:10px;">我要提问</p>
                    <span class="icon ion-ios-arrow-forward"></span>
                </a>
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#/tabs/details">
                <img src="images/icon_06.jpg" style="width:8%;height:8%;float: left"><p style="line-height: 30px;padding-left:10px;">我的预约</p>
                <span class="icon ion-ios-arrow-forward"></span>
                    </a>
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#/tabs/regard">
                <img src="images/icon_12.jpg" style="width:8%;height:8%;float: left"><p style="line-height: 30px;padding-left:10px;">关于99好车</p>
                <span class="icon ion-ios-arrow-forward"></span>
                </a>
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#/tabs/opinion">
                <img src="images/icon_14.jpg" style="width:8%;height:8%;float: left"><p style="line-height: 30px;padding-left:10px;">意见反馈</p>
                <span class="icon ion-ios-arrow-forward"></span>
                    </a>
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#/tabs/contact">
                    <img src="images/icon_t_03.jpg" style="width:8%;height:8%;float: left"><p style="line-height: 30px;padding-left:10px;">联系我们</p>
                    <span class="icon ion-ios-arrow-forward"></span>
                </a>
            </ion-item>
            <ion-item class="item-icon-right">
                <a href="#/tabs/share">
                <img src="images/icon_t_06.jpg" style="width:8%;height:8%;float: left"><p style="line-height: 30px;padding-left:10px;">分享给小伙伴</p>
                <span class="icon ion-ios-arrow-forward"></span>
                    </a>
            </ion-item>
        </ion-list>
        <!--<div class="tabs tabs-secondary tabs-icon-top">-->
            <!--<a class="tab-item" href="#/home">-->
                <!--<i class="icon ion-volume-medium"></i>我的订单-->
            <!--</a>-->
            <!--<a class="tab-item" href="#/FlyLifechina">-->
                <!--<i class="icon ion-ios-list-outline"></i>我的质保-->
            <!--</a>-->
            <!--<a class="tab-item" href="#/questions">-->
                <!--<i class="icon ion-chatbubbles"></i>我的优惠券-->
            <!--</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>